{#
 * This file is part of the ContentfulBundle package.
 *
 * @copyright 2016-2018 Contentful GmbH
 * @license   MIT
#}

{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.requestCount > 0 %}
        {% set icon %}
            <span class="icon">
                <svg viewBox="0 0 24 24">
                    <path fill="#AAAAAA" d="M7.2,16.7328671 C5.99160839,15.5244755 5.25314685,13.8629371 5.25314685,12.0167832 C5.25314685,10.1706294 5.99160839,8.50909091 7.2,7.3006993 C8.22377622,6.27692308 8.22377622,4.61538462 7.2,3.60839161 C6.17622378,2.58461538 4.51468531,2.58461538 3.50769231,3.60839161 C1.35944056,5.75664336 0.0167832168,8.72727273 0.0167832168,12.0167832 C0.0167832168,15.3062937 1.34265734,18.2769231 3.50769231,20.4251748 C4.53146853,21.448951 6.19300699,21.448951 7.2,20.4251748 C8.22377622,19.4181818 8.22377622,17.7566434 7.2,16.7328671 Z"></path>
                    <path fill="#AAAAAA" d="M7.2,7.31748252 C8.40839161,6.10909091 10.0699301,5.37062937 11.9160839,5.37062937 C13.7622378,5.37062937 15.4237762,6.10909091 16.6321678,7.31748252 C17.6559441,8.34125874 19.3174825,8.34125874 20.3244755,7.31748252 C21.3482517,6.29370629 21.3482517,4.63216783 20.3244755,3.62517483 C18.1762238,1.47692308 15.2055944,0.134265734 11.9160839,0.134265734 C8.62657343,0.134265734 5.65594406,1.46013986 3.50769231,3.62517483 C2.48391608,4.64895105 2.48391608,6.31048951 3.50769231,7.31748252 C4.53146853,8.34125874 6.17622378,8.34125874 7.2,7.31748252 Z M16.6153846,16.7328671 C15.406993,17.9412587 13.7454545,18.6797203 11.8993007,18.6797203 C10.0531469,18.6797203 8.39160839,17.9412587 7.18321678,16.7328671 C6.15944056,15.7090909 4.4979021,15.7090909 3.49090909,16.7328671 C2.46713287,17.7566434 2.46713287,19.4181818 3.49090909,20.4251748 C5.63916084,22.5734266 8.60979021,23.9160839 11.8993007,23.9160839 C15.1888112,23.9160839 18.1594406,22.5902098 20.3076923,20.4251748 C21.3314685,19.4013986 21.3314685,17.7398601 20.3076923,16.7328671 C19.3006993,15.7090909 17.6391608,15.7090909 16.6153846,16.7328671 Z"></path>
                    <path fill="#444444" d="M7.2,7.31748252 C6.17622378,8.34125874 4.51468531,8.34125874 3.50769231,7.31748252 C2.48391608,6.29370629 2.48391608,4.63216783 3.50769231,3.62517483 C4.53146853,2.6013986 6.19300699,2.6013986 7.2,3.62517483 C8.22377622,4.63216783 8.22377622,6.29370629 7.2,7.31748252 Z M7.2,20.4251748 C6.17622378,21.448951 4.51468531,21.448951 3.50769231,20.4251748 C2.48391608,19.4013986 2.48391608,17.7398601 3.50769231,16.7328671 C4.53146853,15.7090909 6.19300699,15.7090909 7.2,16.7328671 C8.22377622,17.7566434 8.22377622,19.4181818 7.2,20.4251748 Z"></path>
                </svg>
            </span>
            <span class="sf-toolbar-status">{{ collector.requestCount }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Requests</b>
                <span>{{ collector.requestCount }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Request time</b>
                <span>{{ '%0.0f'|format(collector.totalDuration * 1000) }} ms</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            <svg viewBox="0 0 24 24">
                <path fill="#AAAAAA" d="M7.2,16.7328671 C5.99160839,15.5244755 5.25314685,13.8629371 5.25314685,12.0167832 C5.25314685,10.1706294 5.99160839,8.50909091 7.2,7.3006993 C8.22377622,6.27692308 8.22377622,4.61538462 7.2,3.60839161 C6.17622378,2.58461538 4.51468531,2.58461538 3.50769231,3.60839161 C1.35944056,5.75664336 0.0167832168,8.72727273 0.0167832168,12.0167832 C0.0167832168,15.3062937 1.34265734,18.2769231 3.50769231,20.4251748 C4.53146853,21.448951 6.19300699,21.448951 7.2,20.4251748 C8.22377622,19.4181818 8.22377622,17.7566434 7.2,16.7328671 Z"></path>
                <path fill="#AAAAAA" d="M7.2,7.31748252 C8.40839161,6.10909091 10.0699301,5.37062937 11.9160839,5.37062937 C13.7622378,5.37062937 15.4237762,6.10909091 16.6321678,7.31748252 C17.6559441,8.34125874 19.3174825,8.34125874 20.3244755,7.31748252 C21.3482517,6.29370629 21.3482517,4.63216783 20.3244755,3.62517483 C18.1762238,1.47692308 15.2055944,0.134265734 11.9160839,0.134265734 C8.62657343,0.134265734 5.65594406,1.46013986 3.50769231,3.62517483 C2.48391608,4.64895105 2.48391608,6.31048951 3.50769231,7.31748252 C4.53146853,8.34125874 6.17622378,8.34125874 7.2,7.31748252 Z M16.6153846,16.7328671 C15.406993,17.9412587 13.7454545,18.6797203 11.8993007,18.6797203 C10.0531469,18.6797203 8.39160839,17.9412587 7.18321678,16.7328671 C6.15944056,15.7090909 4.4979021,15.7090909 3.49090909,16.7328671 C2.46713287,17.7566434 2.46713287,19.4181818 3.49090909,20.4251748 C5.63916084,22.5734266 8.60979021,23.9160839 11.8993007,23.9160839 C15.1888112,23.9160839 18.1594406,22.5902098 20.3076923,20.4251748 C21.3314685,19.4013986 21.3314685,17.7398601 20.3076923,16.7328671 C19.3006993,15.7090909 17.6391608,15.7090909 16.6153846,16.7328671 Z"></path>
            </svg>
        </span>
        <strong>Contentful</strong>
        <span class="count">
            <span>{{ collector.requestCount }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    {% if 'details' == page %}
        {{ render(controller('contentful.profiler_controller:detailsAction', {
            token: token,
            requestIndex: app.request.query.get('requestIndex'),
            panel: 'contentful'
        })) }}
    {% else %}
        {{ block('requests') }}
    {% endif %}
{% endblock %}

{% block requests %}
    {% if collector.messages is empty %}
        <h2>Requests</h2>

        <div class="empty">
            <p>No Contentful requests were performed.</p>
        </div>
    {% else %}
        <h2>Contentful Metrics</h2>

        <div class="metrics">
            <div class="metric">
                <span class="value">{{ collector.requestCount }}</span>
                <span class="label">Requests</span>
            </div>

            <div class="metric">
                <span class="value">{{ '%0.0f'|format(collector.totalDuration * 1000) }} <span class="unit">ms</span></span>
                <span class="label">Request time</span>
            </div>
        </div>

        <h2>Requests</h2>

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>API</th>
                    <th>URL</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for message in collector.messages %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ message.api }}</td>
                    <td>{{ message.request.uri }}</td>
                    <td>{{ '%0.0f'|format(message.duration * 1000) }} ms</td>
                    <td><a class="link-inverse" href="{{ path('_profiler', { panel: 'contentful', token: token, page: 'details', requestIndex: loop.index0 }) }}">Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>Clients</h2>
    {% if not collector.clients %}
        <div class="empty">
            <p>There are no Contentful clients configured.</p>
        </div>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>API</th>
                    <th>Space</th>
                    <th>Environment</th>
                    <th>Cache</th>
                </tr>
            </thead>
            <tbody>
            {% for client in collector.clients %}
                <tr>
                    <td>{{ client.service }}</td>
                    <td>{{ client.api }}</td>
                    <td>{{ client.space }}</td>
                    <td>{{ client.environment }}</td>
                    <td>{{ client.cache ?: 'Not enabled' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
