{#
 * This file is part of the ContentfulBundle package.
 *
 * @copyright 2016-2018 Contentful GmbH
 * @license   MIT
#}

<h2>API Call #{{ requestIndex }}</h2>

<div class="metrics">
    <div class="metric">
        <span class="value">{{ '%0.0f'|format(entry.duration * 1000) }} <span class="unit">ms</span></span>
        <span class="label">Time</span>
    </div>

    <div class="metric">
        <span class="value">{{ entry.api }}</span>
        <span class="label">API</span>
    </div>
</div>

<h2>Request</h2>

<div class="metrics">
    <div class="metric">
        <span class="value">{{ entry.request.method }}</span>
        <span class="label">Method</span>
    </div>

    <div class="metric">
        <span class="value">HTTP {{ entry.request.protocolVersion }}</span>
        <span class="label">Protocol</span>
    </div>
</div>

<h3>Headers</h3>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {% for name, value in entry.request.headers %}
        <tr>
            <td style="min-width: 120px;">{{ name }}</td>
            <td>{{ value|join(', ') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Response</h2>

{% if entry.response is empty %}
    <p>No response has been recorded.</p>
{% else %}
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ entry.response.statusCode }}</span>
            <span class="label">Status</span>
        </div>

        <div class="metric">
            <span class="value">HTTP {{ entry.response.protocolVersion }}</span>
            <span class="label">Protocol</span>
        </div>
    </div>

    <h3>Headers</h3>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for name, value in entry.response.headers %}
            <tr>
                <td style="min-width: 120px;">{{ name }}</td>
                <td>{{ value|join(', ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Body</h3>

    <pre>{{ entry.response.body }}</pre>
{%  endif %}

<h2>Exception</h2>

{% if entry.exception is empty %}
    <p>No exception was thrown and caught during the API call.</p>
{% else %}
    {{ dump(entry.exception) }}
{%  endif %}
