{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% if collector.requestCount > 0 %}
        {% set icon %}
            <span class="icon">
                <svg viewBox="100 100 200 200" height="24">
                    <path fill="#666766" d="M178.9 227.7c-7.2-7.2-11.6-17.1-11.6-28.1s4.4-20.9 11.6-28.1c6.1-6.1 6.1-16 0-22-6.1-6.1-16-6.1-22 0-12.8 12.8-20.8 30.5-20.8 50.1s7.9 37.3 20.8 50.1c6.1 6.1 16 6.1 22 0 6.1-6 6.1-15.9 0-22z"></path>
                    <path fill="#666766" d="M178.9 171.6c7.2-7.2 17.1-11.6 28.1-11.6s20.9 4.4 28.1 11.6c6.1 6.1 16 6.1 22 0 6.1-6.1 6.1-16 0-22-12.8-12.8-30.5-20.8-50.1-20.8s-37.3 7.9-50.1 20.8c-6.1 6.1-6.1 16 0 22 6.1 6.1 15.9 6.1 22 0zM235 227.7c-7.2 7.2-17.1 11.6-28.1 11.6s-20.9-4.4-28.1-11.6c-6.1-6.1-16-6.1-22 0-6.1 6.1-6.1 16 0 22 12.8 12.8 30.5 20.8 50.1 20.8s37.3-7.9 50.1-20.8c6.1-6.1 6.1-16 0-22-6-6.1-15.9-6.1-22 0z"></path>
                    <path fill="#3A3A3A" d="M178.9 171.6c-6.1 6.1-16 6.1-22 0-6.1-6.1-6.1-16 0-22 6.1-6.1 16-6.1 22 0 6.1 6 6.1 15.9 0 22zM178.9 249.7c-6.1 6.1-16 6.1-22 0-6.1-6.1-6.1-16 0-22 6.1-6.1 16-6.1 22 0 6.1 6.1 6.1 16 0 22z"></path>
                </svg>
            </span>
            <span class="sf-toolbar-status">{{ collector.requestCount }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Requests</b>
                <span>{{ collector.requestCount }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Request time</b>
                <span>{{ '%0.0f'|format(collector.totalDuration * 1000) }} ms</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            <svg viewBox="100 100 200 200" height="24">
                <path fill="#666766" d="M178.9 227.7c-7.2-7.2-11.6-17.1-11.6-28.1s4.4-20.9 11.6-28.1c6.1-6.1 6.1-16 0-22-6.1-6.1-16-6.1-22 0-12.8 12.8-20.8 30.5-20.8 50.1s7.9 37.3 20.8 50.1c6.1 6.1 16 6.1 22 0 6.1-6 6.1-15.9 0-22z"></path>
                <path fill="#666766" d="M178.9 171.6c7.2-7.2 17.1-11.6 28.1-11.6s20.9 4.4 28.1 11.6c6.1 6.1 16 6.1 22 0 6.1-6.1 6.1-16 0-22-12.8-12.8-30.5-20.8-50.1-20.8s-37.3 7.9-50.1 20.8c-6.1 6.1-6.1 16 0 22 6.1 6.1 15.9 6.1 22 0zM235 227.7c-7.2 7.2-17.1 11.6-28.1 11.6s-20.9-4.4-28.1-11.6c-6.1-6.1-16-6.1-22 0-6.1 6.1-6.1 16 0 22 12.8 12.8 30.5 20.8 50.1 20.8s37.3-7.9 50.1-20.8c6.1-6.1 6.1-16 0-22-6-6.1-15.9-6.1-22 0z"></path>
                <path fill="#3A3A3A" d="M178.9 171.6c-6.1 6.1-16 6.1-22 0-6.1-6.1-6.1-16 0-22 6.1-6.1 16-6.1 22 0 6.1 6 6.1 15.9 0 22zM178.9 249.7c-6.1 6.1-16 6.1-22 0-6.1-6.1-6.1-16 0-22 6.1-6.1 16-6.1 22 0 6.1 6.1 6.1 16 0 22z"></path>
            </svg>
        </span>
        <strong>Contentful</strong>
        <span class="count">
            <span>{{ collector.requestCount }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    {% if 'details' == page %}
        {{ render(controller('ContentfulBundle:Profiler:details', {
            token: token,
            requestIndex: app.request.query.get('requestIndex'),
            panel: 'contentful'
        })) }}
    {% else %}
        {{ block('requests') }}
    {% endif %}
{% endblock %}

{% block requests %}
    {% if collector.logs is empty %}
        <h2>Requests</h2>

        <div class="empty">
            <p>No Contentful requests were performed.</p>
        </div>
    {% else %}
        <h2>Contentful Metrics</h2>

        <div class="metrics">
            <div class="metric">
                <span class="value">{{ collector.requestCount }}</span>
                <span class="label">Requests</span>
            </div>

            <div class="metric">
                <span class="value">{{ '%0.0f'|format(collector.totalDuration * 1000) }} <span class="unit">ms</span></span>
                <span class="label">Request time</span>
            </div>
        </div>

        <h2>Requests</h2>

        <table class="alt">
            <thead>
            <tr>
                <td>#<span class="text-muted">&#9650;</span></td>
                <td>API</td>
                <td>URL</td>
                <td>Time</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for i, log in collector.logs %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ log.api }}</td>
                    <td>{{ log.request.uri }}</td>
                    <td>{{ '%0.0f'|format(log.duration * 1000) }} ms</td>
                    <td><a class="link-inverse" href="{{ path('_profiler', { panel: 'contentful', token: token, page: 'details', requestIndex: loop.index }) }}">Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>Clients</h2>
    {% if not collector.clients %}
        <div class="empty">
            <p>There are no Contentful clients configured.</p>
        </div>
    {% else %}
        <table class="alt">
            <thead>
            <tr>
                <td>Name</td>
                <td>Service</td>
                <td>API</td>
                <td>Space</td>
            </tr>
            </thead>
            <tbody>
            {% for name, client in collector.clients %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ client.service }}</td>
                    <td>{{ client.api }}</td>
                    <td>{{ client.space }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
